<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<h4>Pokemons: 
	<%if @trainer.id == current_trainer.id %>
		<%= (link_to "New", new_pokemon_path) %> </h4> 
	<% end %>
       <ul>
         <% @trainer.pokemons.each do |pokemon| %>
           <p> <%= button_to "Damage!", damage_path(id: pokemon), :class => "button medium", :method => :patch %> </p>
           <p>Name: <%= pokemon.name %> </p>
           <p>Lvl: <%= pokemon.level %> </p>
           <p>Health: <%= pokemon.health %> </p>

         <% end %>
       </ul>
